@{ Layout = null; }
<div class="body-content">
    <div class="page-header">
        <h3>Title, Description, Union as Tags Histograms</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Monthly Title as Tags Histogram
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Date:</label>
                            <div class="col-md-6">
                                <month-select class="form-control" ng-model="vm.MonthlyTitleTag_Month"></month-select>
                            </div>
                            <div class="col-md-4">
                                <year-select class="form-control" ng-model="vm.MonthlyTitleTag_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="monthly_titletag_histogram"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Monthly Description as Tags Histogram
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Date:</label>
                            <div class="col-md-6">
                                <month-select class="form-control" ng-model="vm.MonthlyDescrTag_Month"></month-select>
                            </div>
                            <div class="col-md-4">
                                <year-select class="form-control" ng-model="vm.MonthlyDescrTag_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="monthly_descrtag_histogram"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Monthly (Title &#x222a; Description) as Tags Histogram
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Date:</label>
                            <div class="col-md-6">
                                <month-select class="form-control" ng-model="vm.MonthlyTitleDescrTag_Month"></month-select>
                            </div>
                            <div class="col-md-4">
                                <year-select class="form-control" ng-model="vm.MonthlyTitleDescrTag_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="monthly_titledescrtag_histogram"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Yearly Title as Tags Histogram
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Year:</label>
                            <div class="col-md-10">
                                <year-select class="form-control" ng-model="vm.YearlyTitleTag_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="yearly_titletag_histogram"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Yearly Description as Tags Histogram
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Year:</label>
                            <div class="col-md-10">
                                <year-select class="form-control" ng-model="vm.YearlyDescrTag_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="yearly_descrtag_histogram"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Yearly (Title &#x222a; Description) as Tags Histogram
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Year:</label>
                            <div class="col-md-10">
                                <year-select class="form-control" ng-model="vm.YearlyTitleDescrTag_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="yearly_titledescrtag_histogram"></div>
                </div>
            </div>
        </div>
    </div>
</div>