@{ Layout = null; }
<div class="body-content">
    <div class="page-header">
        <h3>Top Tag Statistics</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-garnet">
                <div class="panel-heading clearfix">
                    <div class="row row-eq-height">
                        <div class="col-md-8">
                            <p class="form-control-static">Monthly Top Tags</p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback" style="padding: 0; margin: 0">
                                <input type="text" ng-model="monthly_search" class="form-control" placeholder="Search" />
                                <span class="glyphicon glyphicon-search form-control-feedback" style="color: black"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Date:</label>
                            <div class="col-md-6">
                                <month-select class="form-control" ng-model="vm.MonthlyTop_Month"></month-select>
                            </div>
                            <div class="col-md-4">
                                <year-select class="form-control" ng-model="vm.MonthlyTop_Year"></year-select>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Tag</th>
                            <th># Videos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="tag in vm.MonthlyTop | filter: monthly_search | itemsPerPage: 10" pagination-id="monthly_top">
                            <td><b><span ng-bind="tag.Rank"></span></b></td>
                            <td ng-bind="tag.Tag"></td>
                            <td ng-bind="tag.NumVideos"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer clearfix">
                    <dir-pagination-controls pagination-id="monthly_top" max-size="5"></dir-pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-garnet">
                <div class="panel-heading clearfix">
                    <div class="row row-eq-height">
                        <div class="col-md-8">
                            <p class="form-control-static">Yearly Top Tags</p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback" style="padding: 0; margin: 0">
                                <input type="text" ng-model="yearly_search" class="form-control" placeholder="Search" />
                                <span class="glyphicon glyphicon-search form-control-feedback" style="color: black"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Year:</label>
                            <div class="col-md-10">
                                <year-select class="form-control" ng-model="vm.YearlyTop_Year"></year-select>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Tag</th>
                            <th># Videos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="tag in vm.YearlyTop | filter: yearly_search | itemsPerPage: 10" pagination-id="yearly_top">
                            <td><b><span ng-bind="tag.Rank"></span></b></td>
                            <td ng-bind="tag.Tag"></td>
                            <td ng-bind="tag.NumVideos"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer clearfix">
                    <dir-pagination-controls pagination-id="yearly_top" max-size="5"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
