@{ Layout = null; }
<div class="body-content">
    <div class="page-header">
        <h3>Videos with Tags below First Quartile Statistics</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Monthly Percentage Below First Quartile Chart
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Year:</label>
                            <div class="col-md-10">
                                <year-select class="form-control" ng-model="vm.MonthlyQuartile_Year"></year-select>
                            </div>
                        </div>
                    </div>
                    <div id="monthly_quartile_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-garnet">
                <div class="panel-heading">
                    Yearly Percentage Below First Quartile Chart
                </div>
                <div class="panel-body">
                    <div id="yearly_quartile_chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>