@{ Layout = null; }
<!DOCTYPE html>
<html lang="en" ng-app="YTT">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
<body ng-controller="HomeCtrl as vm">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

        </div>
    </nav>
    <div class="page-header text-center">
        <h1>YouTube Tag Analysis</h1>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Navigation
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Stuff</li> 
                <a href="/" class="list-group-item">Home</a>

                <li class="list-group-item list-group-item-info">
                    <span class="glyphicon glyphicon-facetime-video"></span> Video Statistics
                </li>
                <a href="/videos/tags"     class="list-group-item">Tags Per Video</a>
                <a href="/videos/tagless"  class="list-group-item">Tagless Videos</a>
                <a href="/videos/quartile" class="list-group-item">Below First Quartile</a>

                <li class="list-group-item list-group-item-info">
                    <span class="glyphicon glyphicon-list"></span> Tag Statistics
                </li>
                <a href="/tags"        class="list-group-item">Tag Dump</a>
                <a href="/tags/top"    class="list-group-item">Top Tags</a>
                <a href="/tags/length" class="list-group-item">Tag Length</a>

                <li class="list-group-item list-group-item-info">
                    <span class="glyphicon glyphicon-stats"></span> Overlap Statistics
                </li>
                <a href="/overlap/full"        class="list-group-item">Video Dump (Full)</a>
                <a href="/overlap/full/tag"    class="list-group-item">Tag Overlap (Full)</a>
                <a href="/overlap/full/other"  class="list-group-item">Other Overlap (Full)</a>
                <a href="/overlap/small"       class="list-group-item">Video Dump (Small)</a>
                <a href="/overlap/small/tag"   class="list-group-item">Tag Overlap (Small)</a>
                <a href="/overlap/small/other" class="list-group-item">Other Overlap (Small)</a>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="view-animate-container">
            <div ng-view class="view-animate"></div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.1', { packages: ['corechart'] });
    </script>
</body>
</html>